In [ ]:
import pandas as pd
import json

In [10]:
# set random json from each dataset
log_json_path = "/home/workspace/data/log_data/2018/11/2018-11-02-events.json"
song_json_path = "/home/workspace/data/song_data/A/A/A/TRAAAMO128F1481E7F.json"

In [3]:
#check log json
log_df = pd.read_json(log_json_path, lines=True)
log_df.head(7)

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,N.E.R.D. FEATURING MALICE,Logged In,Jayden,M,0,Fox,288.99220,free,"New Orleans-Metairie, LA",PUT,NextSong,1541033612796,184,Am I High (Feat. Malice),200,1541121934796,"""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...",101
1,None,Logged In,Stefany,F,0,White,NaN,free,"Lubbock, TX",GET,Home,1540708070796,82,None,200,1541122176796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",83
2,Death Cab for Cutie,Logged In,Stefany,F,1,White,216.42404,free,"Lubbock, TX",PUT,NextSong,1540708070796,82,A Lack Of Color (Album Version),200,1541122241796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",83
3,Tracy Gang Pussy,Logged In,Stefany,F,2,White,221.33506,free,"Lubbock, TX",PUT,NextSong,1540708070796,82,I Have A Wish,200,1541122457796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",83
4,Skillet,Logged In,Kevin,M,0,Arellano,178.02404,free,"Harrisburg-Carlisle, PA",PUT,NextSong,1540006905796,153,Monster (Album Version),200,1541126568796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",66
5,Dance Gavin Dance,Logged In,Marina,F,0,Sutton,218.46159,free,"Salinas, CA",PUT,NextSong,1541064343796,47,Uneasy Hearts Weigh The Most,200,1541127957796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",48
6,None,Logged In,Aiden,M,0,Hess,NaN,free,"La Crosse-Onalaska, WI-MN",GET,Home,1540829025796,170,None,200,1541129561796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",86

In [4]:
#print stats
print ("Shape\n>>", log_df.shape)
print ("\nColumns\n>>",log_df.columns)

Shape
>> (171, 18)

Columns
>> Index(['artist', 'auth', 'firstName', 'gender', 'itemInSession', 'lastName',
       'length', 'level', 'location', 'method', 'page', 'registration',
       'sessionId', 'song', 'status', 'ts', 'userAgent', 'userId'],
      dtype='object')

In [5]:
log_df.dtypes

artist            object
auth              object
firstName         object
gender            object
itemInSession      int64
lastName          object
length           float64
level             object
location          object
method            object
page              object
registration       int64
sessionId          int64
song              object
status             int64
ts                 int64
userAgent         object
userId             int64
dtype: object

In [6]:
log_df.registration.nunique()

22

In [6]:
#value counts
print (log_df.auth.value_counts(), "\n")
print (log_df.level.value_counts(), "\n")
print (log_df.page.value_counts(), "\n")
print (log_df.level.value_counts(), "\n")
print (log_df.gender.value_counts(), "\n")

Logged In    171
Name: auth, dtype: int64

paid    92
free    79
Name: level, dtype: int64

NextSong         155
Home              12
Settings           1
Upgrade            1
Downgrade          1
Save Settings      1
Name: page, dtype: int64

paid    92
free    79
Name: level, dtype: int64

F    122
M     49
Name: gender, dtype: int64

In [11]:
#check song json
song_df = pd.read_json(song_json_path, lines=True)
song_df

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,song_id,title,year
0,ARKFYS91187B98E58F,NaN,,NaN,Jeff And Sheri Easter,267.7024,1,SOYMRWW12A6D4FAB14,The Moon And I (Ordinary Day Album Version),0

In [15]:
song_df[["song_id","title","artist_id","year","duration"]].values[0].tolist()

['SOYMRWW12A6D4FAB14',
 'The Moon And I (Ordinary Day Album Version)',
 'ARKFYS91187B98E58F',
 0,
 267.7024]

In [16]:
song_df[["artist_id","artist_name","artist_location",\
                      "artist_latitude","artist_longitude"]].values[0].tolist()

['ARKFYS91187B98E58F', 'Jeff And Sheri Easter', '', nan, nan]

In [9]:
#print stats
print ("Shape\n>>", song_df.shape)
print ("\nColumns\n>>",song_df.columns)

Shape
>> (1, 10)

Columns
>> Index(['artist_id', 'artist_latitude', 'artist_location', 'artist_longitude',
       'artist_name', 'duration', 'num_songs', 'song_id', 'title', 'year'],
      dtype='object')

In [15]:
song_df.dtypes

artist_id            object
artist_latitude     float64
artist_location      object
artist_longitude    float64
artist_name          object
duration            float64
num_songs             int64
song_id              object
title                object
year                  int64
dtype: object